django-cms
#bootstrap-admin
django-compressor
django-filer
cmsplugin-filer
django-reversion
pil
#-e git+https://github.com/fivethreeo/cmsplugin-blog.git#egg=cmsplugin-blog
django-blog-zinnia
cmsplugin_zinia
django-app-namespace-template-loader
zinnia-theme-bootstrap
