django-cms==1.5.5
#bootstrap-admin
easy-thumbnails==1.4
django-compressor
django-filer
cmsplugin-filer
django-reversion==1.7
pillow
#-e git+https://github.com/fivethreeo/cmsplugin-blog.git#egg=cmsplugin-blog
django-blog-zinnia==0.13.1
cmsplugin_zinnia
zinnia-theme-bootstrap
django-app-namespace-template-loader
cmsplugin-contact
django-widget-tweaks
django-avatar
django-disqus
django-tinymce
#django-jcrop
-e git+https://github.com/mauler/django-jcrop.git#egg=django-jcrop

