django-cms
#bootstrap-admin
django-compressor
django-filer
cmsplugin-filer
django-reversion
pil
#-e git+https://github.com/fivethreeo/cmsplugin-blog.git#egg=cmsplugin-blog
django-blog-zinnia
cmsplugin_zinnia
cmsplugin-contact
django-widget-tweaks
