Django==1.5.5
Pillow==2.3.0
South==0.8.4
argparse==1.2.1
beautifulsoup4==4.3.2
cmsplugin-contact==1.0.0
cmsplugin-filer==0.9.5
cmsplugin-zinnia==0.5.1
django-admin-shortcuts==1.2.5
django-app-namespace-template-loader==0.1
django-appconf==0.6
django-avatar==2.0
django-blog-zinnia==0.13
django-classy-tags==0.5
django-cms==2.4.3
django-compressor==1.3
django-disqus==0.4.1
django-filer==0.9.5
-e git+https://github.com/mauler/django-jcrop.git@3784adfdef236c3ffe3039c751bf410bce0c947e#egg=django_jcrop-master
django-mptt==0.5.2
django-polymorphic==0.5.3
django-reversion==1.7.1
django-sekizai==0.7
django-tagging==0.3.2
django-tinymce==1.5.2
django-widget-tweaks==1.3
django-xmlrpc==0.1.5
djangocms-admin-style==0.2.0
easy-thumbnails==1.4
html5lib==0.999
pyparsing==2.0.1
pytz==2013.9
six==1.6.1
sorl-thumbnail==11.12
wsgiref==0.1.2
zinnia-theme-bootstrap==0.3.1
