.about-header{
margin-bottom: 100px;
}

#about{
margin-bottom:50px;
} 

#about .jumbotron h1 {
font-size: 28px;
margin-bottom: 1em;
text-align: center;
margin-top: 0;
}

#about .jumbotron{
padding-top: 0;
font-size: 18px;
background-color: transparent;
padding-left: 25%;
padding-right: 25%;
}


#members{
margin-top: 25px;
}

#members .member{
margin: 50px 0 75px;
padding: 0;
margin-bottom: 10%;
text-align: center;
}

#members h1{
text-align: center;
font-size: 28px;
}

#members h2{
text-align: center;
margin-bottom:0;
font-size: 22px;
}

#members h3 {
text-align: center;
font-weight: normal;
font-style: italic;
margin-top: 0;
font-size: 18px;
}


#members .member p {
margin-right: 10px;
}

#members .member .member-image{
max-width: 20%;
height: auto;
}

#members #twitter{
width: 32px;
margin-top: 14px;
}

@media (min-width: @screen-small){
#members{
padding-left: 22%;
padding-right: 22%;
}
}
