.about-header{
margin-bottom: 6.5em;
}

.big-header.about-header{
/*height: auto;*/
max-height: 75vh;
min-height:0;
height: 75vh;
}
.big-header.about-header img{
position: static;
max-height: 75vh;
min-height:0;
height: 75vh;
/*max-height: 75vh;*/
}
.big-header.about-header,
.big-header.about-header img,
{
/*min-height:250px;*/
}

#about{
margin-bottom:50px;
} 

#about .jumbotron h1 {
font-size: 2em;
margin-bottom: 1em;
text-align: center;
margin-top: 0;
}

#about .jumbotron{
padding-top: 0;
font-size: 1.3em;
background-color: transparent;
margin-bottom: 2em;
padding-bottom: 1em;
}


#members{
margin-top: 2em;
}

#members .member{
margin: 3em 0 6em;
padding: 0;
text-align: center;
}

#members h1{
text-align: center;
font-size: 2.2em;
}

#members h2{
text-align: center;
margin-bottom:0;
font-size: 1.8em;
}

#members h3 {
text-align: center;
font-weight: normal;
font-style: italic;
margin-top: 0;
font-size: 1.4em;
}


#members .member p {
margin-right: 10px;
font-size: 1.3em;
}

#members .member .member-image{
max-width: 20%;
height: auto;
}

#members .social-icon{
width: 32px;
margin-top: 14px;
}

@media (min-width: @screen-small){
#about .jumbotron {
padding-left: 5%;
padding-right: 5%;
}
#members{
padding-left: 5% !important; 
padding-right: 5% !important;
}
}

/* Portrait */
@media screen and (orientation:portrait) {
/* Portrait styles */
}
/* Landscape */
@media screen and (orientation:landscape) {
/* Landscape styles */
}
