
#blog{
margin-top: 125px;
margin-bottom: 50px;
}


#blog .page-header {
padding-bottom: 0;
border: 0;
}

#blog .epic-entry-image{
height: 50vh;
overflow: hidden;
}

#blog .epic-image{
width: 100%;
height: auto;
}

#blog article .page-header {
padding-bottom: 15px;
margin: 0;
}

#blog .entry-title {
margin-top: 0;
}

#blog .entry-title a {
margin-bottom: 30px;
display: block;
}


#blog .entry-info .media-body{
margin-top: 11px;
font-size: 14px;
}

#blog .container{
margin-top: 2em;
}

#blog .continue-reading .btn-primary {
text-decoration: underline;
background-color: transparent;
color: black;
border: 0;
font-style: italic;
padding: 0;
font-weight: normal;
font-size: 16px;
}

#blog .entry-footer{
padding-bottom: 20px;
margin: 2em 0 1.5em;
border-bottom: 2px solid #ccc;
font-size: 15px;
}

#blog .social-share{
margin: 2em 0 2em 0;
}

#blog .social-share img{
height: 48px;
margin-right: 0.6em;
}

#blog article.hentry:last-of-type .entry-footer{
border: 0;
}



#blog #sidebar .panel-default {
border: 0;
-webkit-box-shadow: none;
box-shadow: none;
font-size: 1.1em;
}

#blog #sidebar .panel-default > .panel-heading {
border: 0;
background-color: transparent;
color: #ccc;
font-weight: bold;
font-size: 1.2em;
padding-top: 0;
padding-left: 0;
}

#blog #sidebar #widget-archive.panel-default ul { 
  padding-left: 15px;
}
#blog #sidebar #widget-archive.panel-default ul ul { 
padding-left: 30px;
}

#blog #sidebar #widget-archive.panel-default li {
padding: 2px 0;
list-style-type: none;
}

#blog .pagination > li > a, 
#blog .pagination > li > span {
border: 0;
font-size: 15px;
}

@media (min-width: 768px){
#blog .lead {
font-size: 18px;
}
}

@media (min-width: @screen-small){
.entry-list #blog #sidebar {
margin-top: 60px;
padding-left: 35px;
}

.entry #blog #sidebar {
padding-left: 35px;
}

#blog #sidebar .panel-default {
margin-bottom: 100px;
}

}

@media (max-width: @screen-small){
#blog header.entry-header.margin-first{
margin-left: 15px;
margin-right: 15px;
}
}
