
#blog{
margin-top: 100px;
margin-bottom: 50px;
}

#blog #sidebar .panel-default /**, #blog .well, #blog .breadcrumb **/{
border-color: #eed3d7;
}

#blog #sidebar .panel-default > .panel-heading /**, #blog .well, #blog .breadcrumb **/{
color: #C61E1C;
background-color: #FCDFDD;
border-color: #eed3d7;
}

/**
#blog .well a, #blog .breadcrumb a {
color: #C61E1C;
}

#blog .breadcrumb > li + li:before, #blog .breadcrumb > .active {
color: #F6978F;
}**/


@media (min-width: 768px){
#blog .lead {
font-size: 18px;
}
}
