/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
font-family: 'StRyde';
src: url("../font/StRyde.otf") format("opentype");
}

body {
font-family: 'StRyde';
padding: 0;
}

.base-content {
font-size: 16px;
}

.navbar{ 
border: 0;
}

.main-navbar {
margin-bottom: 75px;
background-color: transparent;
}

.navbar .navbar-header {
position: relative;
padding: 0;
}

.navbar .navbar-brand{
padding: 0;
}

.navbar .navbar-collapse {
position: absolute;
bottom: 0;
right: 0;
}

.navbar-nav > li > a {
font-weight: bold;
}

.navbar .navbar-collapse li.social-icon a{
padding-right: 0;
}

.navbar .navbar-collapse li.social-icon:nth-child(n+1) a{
padding-left: 5px;
}

.brand-horizontal{
height: 75px;
}

.brand-horizontal img{
margin: 10px 0;
height: 55px;
}

.navbar-magic-bg{
height: 75px;
width: 100%;
position: fixed;
top: 0;
z-index: 30;
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.05);
}

.big-header {
position: relative;
z-index: 50;
overflow: hidden;
height: 75vh;
margin-bottom: 150px;
}

.big-header img{
max-width: 100%;
height: auto;
width: auto\9; /* ie8 */
position: absolute;
}

.footer {
padding: 25px 0 10px;
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.05);
}

.footer p {
margin: 0;
}
