/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
font-family: 'StRyde';
src: url("../font/StRyde.otf") format("opentype");
}


body {
font-family: 'StRyde';
padding: 0;
}

.navbar{ 
  border: 0;
}

.navbar > .container {
background-color: black;
}

.main-navbar {
border-bottom: 10px solid @brand-pink;
margin-bottom: 75px;
}

.navbar .navbar-header {
position: relative;
}

.navbar .navbar-brand{
padding: 0;
}

.navbar .navbar-brand-ct{
background-color: black;
position: absolute;
width: 135px;
padding: 5px 15px 15px;
text-align: center;
margin-top: 0px;
border: 10px solid #f6978f;
border: 0 10px;
}

.navbar .navbar-brand-ct.bg {
z-index: -1;
}

.navbar .navbar-brand-ct.fg {
background-color: transparent;
border-color: transparent;
}


.navbar-spacer{
height: 60px;
position: relative;
z-index: 1;
background-color: @brand-primary;
}


.footer {
background-color: @brand-primary;
padding: 25px 0 10px;
border-top: 10px solid @brand-pink;
}


