input[type=text].form-control {
width: 60%;
height: 24px;
}

.btn-lg {
margin-top:15px;
padding: 6px 20px;
font-size: 16px;
font-weight: normal;
}

.no-margins {
margin: 0;
}

.title-contact {
margin: 0 0 20px;
}

div.teaser-contact {
font-size: 16px;
font-weight: bold;
margin: 0 0 20px;
}
