/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {
font-family: 'StRyde';
src: url("../font/StRyde.otf") format("opentype");
}


body {
font-family: 'StRyde';
padding: 0;
}

.navbar{ 
  border: 0;
}

.main-navbar {
border-bottom: 10px solid @brand-pink;
margin-bottom: 75px;
}

.home-navbar {
border-bottom: 0;
margin-bottom: 0;
}

.pink-border {
position: fixed;
background-color: #f6978f;
height:10px;
z-index: 0;
margin-top: -10px;
width: 100%;
}

.navbar-spacer{
height: 60px;
position: relative;
z-index: 1;
background-color: @brand-primary;
}

.home-header {
position: relative;
z-index: 50;
padding-top: 30px;
background-color: #000000;
margin-bottom: 75px;
border-bottom: 10px solid #f6978f;
}


.left-bar{
  width: 70%;
}

.home-header .social-bar{
width: 75%;
margin: 45px auto 0;
}

.home-header .social-bar img:hover{
opacity:0.7;
filter:alpha(opacity=70);
}

.home-header .social-bar .nosidepadding{
padding-left: 0;
padding-right: 0;
}

.home-header .logo{ 
}

.home-header .video{ 
}

#the-carousel {
margin:0;
}

#grid {
margin-top:100px;
margin-bottom:100px;
}

#featurettes {
margin-top:100px;
margin-bottom:100px;
}

.footer {
background-color: @brand-primary;
padding: 25px 0 10px;
border-top: 10px solid @brand-pink;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}


