@media (min-width: 960px) {
  .margin-zero {
  margin-left: @grid-gutter-width*2;
  margin-right: @grid-gutter-width*2;
  }
  .margin-first {
  margin-left: @grid-gutter-width*6;
  margin-right: @grid-gutter-width*6;
  }
}
