
.service-header {
margin-bottom: 5.5em;
}


.big-header.service-header{
/*height: auto;*/
max-height: 75vh;
min-height:0;
height: 75vh;
}

.big-header.service-header img{
position: static;
max-height: 75vh;
min-height:0;
height: 75vh;
}

.big-header.service-header,
.big-header.service-header img,
{
/*min-height:250px;*/
}

#services {
margin-bottom:100px;
}

#services .service {
padding: 25px 0px;
}

#services ul {
list-style-type: none;
padding-left: 0px;
text-align: center;
}

#services .image-container {
text-align: center;
margin: 0 auto;
width: 50px;
height: 70px;
position: relative;
margin-bottom: 25px;
}

#services .image-container img{
position: absolute;
bottom: 0;
}


#services .service h2 { 
text-align: center;
}

