
.service-header {
margin-bottom: 5.5em;
}

.service-header .the-opaque {
opacity: 0.5;
}
@media screen and (max-width: 800px){
.service-header .the-opaque {
opacity: 0.6;
}
}

#services {
margin-bottom:100px;
}

#services .service {
padding: 25px 0px;
}

#services ul {
list-style-type: none;
padding-left: 0px;
text-align: center;
}

#services .image-container {
text-align: center;
margin: 0 auto;
width: 50px;
height: 70px;
position: relative;
margin-bottom: 25px;
}

#services .image-container img{
position: absolute;
bottom: 0;
}

#services .service h2 { 
text-align: center;
}

#services h2 {
font-size: 1.4em;
}

#services .img-responsive {
padding-top: 18px;
}

#services ul {
list-style-type: none;
}
