
{% extends "base.html" %}
{% load i18n staticfiles %}

{% block extra_link %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="home" href="{% url 'zinnia_entry_archive_index' %}" />
    <link rel="stylesheet" href="{% static "zinnia_bootstrap/bootstrap/css/bootstrap.css" %}" />

    <link rel="stylesheet" href="{% static "zinnia_bootstrap/bootstrap/css/bootstrap-responsive.css" %}" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block link %}{% endblock %}
{% endblock %}

{% block extra_css %}
    <style type="text/css">
      body {
        padding-top: 70px;
      }
    </style>
{% endblock %}


{% block base_content %}
  <div class="zinnia {% block body-class %}{% endblock body-class %}">
    <header class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <img src="{% static "zinnia_bootstrap/img/zinnia.png" %}" class="pull-left" alt="Zinnia's Weblog" />
          <a href="{% url 'zinnia_entry_archive_index' %}" title="Zinnia's Weblog" class="brand" rel="home">
            Zinnia's Weblog
          </a>
          <ul class="nav pull-left">
            {% url 'zinnia_category_list' as category_list_url %}
            <li {% if category_list_url in request.path %}class="active"{% endif %}>
              <a href="{{ category_list_url }}" title="{% trans "Category list" %}">
                {% trans "Categories" %}
              </a>
            </li>
            {% url 'zinnia_author_list' as author_list_url %}
            <li {% if author_list_url in request.path %}class="active"{% endif %}>
              <a href="{{ author_list_url }}" title="{% trans "Author list" %}">
                {% trans "Authors" %}
              </a>
            </li>
            {% url 'zinnia_tag_list' as tag_list_url %}
            <li {% if tag_list_url in request.path %}class="active"{% endif %}>
              <a href="{{ tag_list_url }}" title="{% trans "Tag list" %}">
                {% trans "Tags" %}
              </a>
            </li>
            <li class="divider-vertical"></li>
          </ul>
          <form method="get" action="{% url 'zinnia_entry_search' %}" class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="{% trans 'Search' %}" name="pattern" value="{{ pattern }}" />
          </form>
          <ul class="nav pull-right">
            {% url 'zinnia_sitemap' as sitemap_url %}
            <li {% if sitemap_url in request.path %}class="active"{% endif %}>
              <a href="{{ sitemap_url }}" title="{% trans "Sitemap" %}" class="sitemap">
                {% trans "Sitemap" %}
              </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <a href="{% url 'zinnia_entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}" class="feeds">
                {% trans "RSS Feed" %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      {% block breadcrumbs %}{% endblock %}
    </div>
    {% block slider %}{% endblock %}
    <div class="container">
      <div class="row">
        <div id="content" class="hfeed span8">
          {% block content %}
          <div class="links">
            <h3>{% trans "Useful links" %}</h3>
            <ul>
              <li>
                <a href="{% url 'zinnia_entry_archive_index' %}" title="{% trans "Weblog index" %}">
                  {% trans "Weblog index" %}
                </a>
              </li>
              <li>
                <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}">
                  {% trans "Sitemap" %}
                </a>
              </li>
            </ul>
          </div>
          <div class="search">
            <h3>{% trans "Search" %}</h3>
            {% include "zinnia/tags/search_form.html" %}
          </div>
          {% endblock content %}
        </div>
        <div id="sidebar" class="span4">
          {% block sidebar %}
          {% endblock sidebar %}
        </div>
      </div>
    </div>
    <footer class="container">
      <p>{% blocktrans %}Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="https://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.{% endblocktrans %}</p>
    </footer>
{% endblock %}
