{% extends "zinnia:zinnia/base.html" %}
{% load zinnia_tags i18n %}
{% load cms_tags sekizai_tags %}


{% block sidebar %}
<aside id="widget-search" class="widget panel panel-default">
  <form method="get" action="{% url 'zinnia_entry_search' %}">
  <input type="text" placeholder="{% trans "Search" %}" name="pattern" onfocus="this.value=''" class="form-control" />
  </form>
</aside>
{% show_placeholder "custom-widgets-top" "sidebar" %}
<aside id="widget-recents" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Recent Posts" %}
  </div>
  {% get_recent_entries 4 %}
</aside>
<aside id="custom-widgets-middle" class="widget panel panel-default">
{% show_placeholder "custom-widgets-middle" "sidebar" %}
</aside>
<aside id="widget-archive" class="widget panel panel-default">
  <div class="panel-heading">
    {% trans "Older Posts" %}
  </div>
  {% get_archives_entries_tree "zinnia/tags/archives_entries_tree.html" %}
</aside>
<aside id="custom-widgets-bottom" class="widget panel panel-default">
{% show_placeholder "custom-widgets-bottom" "sidebar" %}
</aside>
{% if user.is_authenticated %}
<aside id="widget-tools" class="widget panel panel-danger">
  <div class="panel-heading">
    {% trans "Tools" %}
  </div>
  <ul class="list-group">
    {% if perms.zinnia %}
    <li class="list-group-item">
      <a href="{% url 'admin:app_list' 'zinnia' %}" title="{% trans "Dashboard" %}">
        <span class="glyphicon glyphicon-book"></span>
        {% trans "Dashboard" %}
      </a>
    </li>
    {% endif %}
    {% if perms.zinnia.add_entry %}
    <li class="list-group-item">
      <a href="{% url 'admin:zinnia_entry_add' %}" title="{% trans "Post an entry" %}">
        <span class="glyphicon glyphicon-pencil"></span>
        {% trans "Post an entry" %}
      </a>
    </li>
    <li class="list-group-item">
      <a href="{% url 'avatar_change' %}">Change your avatar</a>
    </li>
    {% endif %}
    {% block admin-tools %}
    {% endblock admin-tools %}
    <li class="list-group-item">
      <a href="{% url 'admin:logout' %}" title="{% trans "Log out" %}">
        <span class="glyphicon glyphicon-off"></span>
        {% trans "Log out" %}
      </a>
    </li>
  </ul>
</aside>
{% endif %}
{% endblock sidebar %}

