{% extends "zinnia/entry_detail_base.html" %}
{% load disqus_tags i18n avatar_tags  %}

{% block script %}
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "496c804b-9b54-487b-bf44-549c045c5c06", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock script %}

{% comment %}
{% block base_header %}
<div style="margin-top: -80px"></div>
{% endblock base_header %}
{% endcomment %}

{% block epic-header %}
<header class="entry-header page-header margin-first">
  {% block entry-title %}
  <h2 class="entry-title">
    <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
      {{ object.title }}
    </a>
  </h2>
  {% endblock entry-title %}
  {% block entry-info %}
    <small class="entry-info">
    {% block entry-authors %}
    {% with authors=object.authors.all %}
      <div class="media">
        {% if authors|length %}
          <a href="{{ author.get_absolute_url }}" class="pull-left fn url{% if not author.get_full_name %} nickname{% endif %}" rel="author" title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}"> {% avatar authors.0 64 %} </a>
        {% endif %}
          <div class="media-body ">
            {% trans "Posted on" %}
            <time class="published" datetime="{{ object.creation_date|date:"c" }}" pubdate="pubdate">{{ object.creation_date|date:"DATE_FORMAT" }}</time><br />

            {% if authors|length %}
              {% trans "by" %}
              {% for author in authors %}
                <span class="vcard author">
                  <a href="{{ author.get_absolute_url }}" class="fn url{% if not author.get_full_name %} nickname{% endif %}" rel="author"
                     title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}">{{ author }}</a></span>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            {% endif %}
          </div>
      </div>
    {% endwith %}
    {% endblock entry-authors %}
    </small>
  {% endblock entry-info %}
  {% block entry-last-update %}
  <p class="entry-last-update" style="display: none;">
    {% trans "Last update on" %} <time class="updated" datetime="{{ object.last_update|date:"c" }}">{{ object.last_update|date:"DATE_FORMAT" }}</time>.
  </p>
  {% endblock entry-last-update %}
</header>
{% if object.image %}
<div class="epic-entry-image margin-first">
  <p>
    {% if continue_reading %}
    <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
      {% endif %}
      <img src="{{ object.image.url }}" alt="{{ object.title }}" class="epic-image" />
      {% if continue_reading %}
    </a>
    {% endif %}
  </p>
</div>
{% endif %}
{% endblock epic-header %}

{% block breadcrumbs %}
{% endblock breadcrumbs%}

{% block entry-widgets %}
{% endblock entry-widgets %}

{% block entry-trackbacks %}
{% endblock entry-trackbacks %}

{% block entry-pingbacks %}
{% endblock entry-pingbacks %}

{% block entry-comments %}
{% endblock entry-comments %}

{% block entry-comments-form %}
{% disqus_show_comments %}
{% endblock entry-comments-form %}


