{% extends "zinnia/entry_detail_base.html" %}
{% load disqus_tags i18n avatar_tags  %}

{% comment %}
{% block script %}
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "496c804b-9b54-487b-bf44-549c045c5c06", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock script %}
{% endcomment %}

{% comment %}
{% block base_header %}
<div style="margin-top: -80px"></div>
{% endblock base_header %}
{% endcomment %}

{% block breadcrumbs %}
{% endblock breadcrumbs%}

{% block entry-widgets %}
{% endblock entry-widgets %}

{% block entry-trackbacks %}
{% endblock entry-trackbacks %}

{% block entry-pingbacks %}
{% endblock entry-pingbacks %}

{% block entry-comments %}
{% endblock entry-comments %}

{% block entry-comments-form %}
{% disqus_show_comments %}
{% endblock entry-comments-form %}


