
{% extends "base.html" %}
{% load i18n staticfiles %}

{% block extra_link %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="home" href="{% url 'zinnia_entry_archive_index' %}" />

    {% block link %}{% endblock %}
{% endblock %}

{% block extra_css %}
    <style type="text/css">
      body {
        padding-top: 70px;
      }
    </style>
{% endblock %}

{% block body-class %}zinnia{% endblock body-class %}

{% block base_content %}

    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{% static "img/logos/horizontal-no_c-pink.png" %}" class="pull-left" alt="Zinnia's Weblog" />
          <a href="{% url 'zinnia_entry_archive_index' %}" title="Zinnia's Welog" class="navbar-brand" rel="home">
            Zinnia's Weblog
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-left">
            {% url 'zinnia_category_list' as category_list_url %}
            <li {% if category_list_url in request.path %}class="active"{% endif %}>
              <a href="{{ category_list_url }}" title="{% trans "Category list" %}">
                {% trans "Categories" %}
              </a>
            </li>
            {% url 'zinnia_author_list' as author_list_url %}
            <li {% if author_list_url in request.path %}class="active"{% endif %}>
              <a href="{{ author_list_url }}" title="{% trans "Author list" %}">
                {% trans "Authors" %}
              </a>
            </li>
            {% url 'zinnia_tag_list' as tag_list_url %}
            <li {% if tag_list_url in request.path %}class="active"{% endif %}>
              <a href="{{ tag_list_url }}" title="{% trans "Tag list" %}">
                {% trans "Tags" %}
              </a>
            </li>
            <li class="divider-vertical"></li>
          </ul>
          <form method="get" action="{% url 'zinnia_entry_search' %}" class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="search-query form-control" placeholder="{% trans 'Search' %}" name="pattern" value="{{ pattern }}" />
            </div>
            <button type="submit" name="submit" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% url 'zinnia_sitemap' as sitemap_url %}
            <li {% if sitemap in request.path %}class="active"{% endif %}>
            <li>
              <a href="{{ sitemap_url }}" title="{% trans "Sitemap" %}" class="sitemap">
                {% trans "Sitemap" %}
              </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <a href="{% url 'zinnia_entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}" class="feeds">
                {% trans "RSS Feed" %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block slider %}{% endblock %}
    <div class="container">
      <div class="row">
        <div id="content" class="hfeed col-xs-12 col-sm-8 col-md-8 col-lg-8">
          {% block breadcrumbs %}{% endblock %}
          {% block content %}
          <div class="links">
            <h3>{% trans "Useful links" %}</h3>
            <ul>
              <li>
                <a href="{% url 'zinnia_entry_archive_index' %}" title="{% trans "Weblog index" %}">
                  {% trans "Weblog index" %}
                </a>
              </li>
              <li>
                <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}">
                  {% trans "Sitemap" %}
                </a>
              </li>
            </ul>
          </div>
          <div class="search">
            <h3>{% trans "Search" %}</h3>
            {% include "zinnia/tags/search_form.html" %}
          </div>
          {% endblock content %}
        </div>
        <div id="sidebar" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          {% block sidebar %}
          {% endblock sidebar %}
        </div>
      </div>

    <footer class="container">
      <p>{% blocktrans %}Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="https://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.{% endblocktrans %}</p>
    </footer>
  </div>
{% endblock %}
