{% load cms_tags sekizai_tags %}
{% load compress %}
{% load menu_tags %}
{% load i18n %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>Commas & Industry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% trans "Public Relations in Malaysia" %}</p>{% endblock %}" />
    <meta name="author" content="{% block meta-author %}Ying Nee Ooi{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}public relations, pr, Kuala Lumpur, Malaysia{% endblock %}" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon/pink.ico" />
    <link rel="icon" href="{{ STATIC_URL }}img/favicon/pink.ico" type="image/x-icon">
    <!-- Bootstrap Less-->
    {% if debug %}
      <link rel="stylesheet/less" type="text/css" media="all" href="{{STATIC_URL}}less/custom.less" />
      <script src="{{STATIC_URL}}js/less-1.4.1.min.js"></script>
      {% comment %} {% compress css %}
      <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/custom.less" />
      {% endcompress %} {% endcomment %}
    {% else %}
			{% addtoblock "css" %}
			<link href="{{STATIC_URL}}css/commas.css" media="screen" rel="stylesheet" type="text/css" />
			{% endaddtoblock %}
    {% endif %}
    {% render_block "css" %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <!--[if lt IE 9]>
        <script src="{{STATIC_URL}}js/html5shiv.js"></script>
        <script src="{{STATIC_URL}}js/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <!-- <link href="{{ STATIC_URL }}css/carousel.css" rel="stylesheet"> -->
    {% block extra_link %}{% endblock %}
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
  </head>
  <body>
    {% cms_toolbar %}
    <div class="navbar navbar-inverse navbar-fixed-top main-navbar {% block navbar_class %}{% endblock %}">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<div class="navbar-brand-ct bg">
          	<a class="navbar-brand" href="http://commasindustry.com"><img class="img-responsive" src="{{ STATIC_URL }}img/logos/vertical-gray.png" /></a>
          </div>
					<div class="navbar-brand-ct fg">
          	<a class="navbar-brand" href="http://commasindustry.com"><img class="img-responsive" src="{{ STATIC_URL }}img/logos/vertical-pink.png" /></a>
          </div>
        </div>

        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
              {% show_menu 0 100 100 100 "menu.html" %}
          </ul>
        </div><!--/.navbar-collapse -->
      </div><!--/.container -->
    </div>
    <div class="navbar-spacer"></div>

    {% block base_content %}{% endblock %}

    <div class="footer">
        <div class="container" >
          <footer>
            <div class="row">
                <div class="col-sm-4">
                  <p>Commas Industry<p/>
                  <p>Phone: +60 12-362-2810<p/>
                  <p>Email: hello@commasindustry.com<p/>
                </div>
                <div class="col-sm-8">
									{% show_placeholder "contactform" "contact" %}
                  <!--<form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                      <div class="col-lg-10">
                        <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="message" class="col-lg-2 control-label">Message</label>
                      <div class="col-lg-10">
                        <textarea class="form-control" id="message" rows="2" placeholder="Write here..."></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default">Contact Us</button>
                      </div>
                    </div>
                  </form>-->
              </div>
           </div> <!-- row -->
        </footer>
      </div> <!-- /.container -->
    </div> <!-- /.footer -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="{{STATIC_URL}}js/holder.js"></script>
    
    {% render_block "js" %}
  </body>
</html>

