{% extends "base.html" %}
{% load cms_tags %}
{% block navbar_class %}home-navbar{% endblock %}
{% block base_content %}
    <div class="big-header home-header">
        {% placeholder hometeaser %}
        <div class="home-teaser">
            <h1>Welcome</h1>
            <p>We are Commas & Industry. We help people build brands through communications and publicity. Please explore.</p>
            <p><a href="#" class="btn btn-default btn-lg" role="button">More About Us</a> <a href="#" class="btn btn-default btn-lg" role="button">Contact Us</a></p>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide">
      <h1>What do our clients say?</h1>
        <!-- Indicators -->
<!--        <ol class="carousel-indicators">-->
<!--          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
<!--          <li data-target="#myCarousel" data-slide-to="1"></li>-->
<!--          <li data-target="#myCarousel" data-slide-to="2"></li>-->
<!--          <li data-target="#myCarousel" data-slide-to="3"></li>-->
<!--        </ol>-->
        <div class="carousel-inner">
           {% placeholder reference %}
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
{% endblock %}
